name: T# CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: make install
      run: sudo make install
    - name: run
      run: t# test/ci-test.t#
    - name: clean
      run: sudo make clean;

  Windows:
    runs-on: windows-latest
    needs: Ubuntu
    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: run
      run: .\tsharp.exe test\ci-test.t#
    - name: clean
      run: make clean
